Data Merging

In [1]:
import pandas as pd

In [7]:
#create 2 sample dataframes
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Ahmad', 'Momna', 'Aliyaar']
})
df2 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Age': [25, 26, 1],
    'City': ['Newzeeland', 'Newzeeland', 'Newzeeland']
})

#data before merging
print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)
#merge dataframes on 'ID' column
print("\nMerged DataFrame on 'ID':")
merged_df = pd.merge(df1, df2, on='ID')
print(merged_df)

DataFrame 1:
   ID     Name
0   1    Ahmad
1   2    Momna
2   3  Aliyaar

DataFrame 2:
   ID  Age        City
0   1   25  Newzeeland
1   2   26  Newzeeland
2   3    1  Newzeeland

Merged DataFrame on 'ID':
   ID     Name  Age        City
0   1    Ahmad   25  Newzeeland
1   2    Momna   26  Newzeeland
2   3  Aliyaar    1  Newzeeland

Data Concatenation

In [8]:
#lets concatenate the data first we need to create 2 dataframes with same structure
df3 = pd.DataFrame({
    'ID': [4, 5, 6],
    'Name': ['Zain', 'Hassan', 'Ayesha']
})
df4 = pd.DataFrame({
    'ID': [7, 8, 9],
    'Name': ['Sara', 'Hina', 'Kiran']
})
#data before concatenation
print("\nDataFrame 3:")
print(df3)  
print("\nDataFrame 4:")
print(df4)

DataFrame 3:
   ID    Name
0   4    Zain
1   5  Hassan
2   6  Ayesha

DataFrame 4:
   ID   Name
0   7   Sara
1   8   Hina
2   9  Kiran

In [9]:
#After concatenation
print("\nConcatenated DataFrame:")
concatenated_df = pd.concat([df3, df4], ignore_index=True)
print(concatenated_df)

Concatenated DataFrame:
   ID    Name
0   4    Zain
1   5  Hassan
2   6  Ayesha
3   7    Sara
4   8    Hina
5   9   Kiran

Data Duplication

In [10]:
#Lets see data duplication
#creating a sample dataframe
df5 = pd.DataFrame({
    'ID': [1, 2, 3, 1], 
    'Name': ['Ahmad', 'Momna', 'Aliyaar', 'Ahmad']
})
print("\nOriginal DataFrame with Duplicates:")
print(df5)

Original DataFrame with Duplicates:
   ID     Name
0   1    Ahmad
1   2    Momna
2   3  Aliyaar
3   1    Ahmad

In [11]:
#Lets remove the duplicates
df5_no_duplicates = df5.drop_duplicates()
print("\nDataFrame after removing duplicates:")
print(df5_no_duplicates)

DataFrame after removing duplicates:
   ID     Name
0   1    Ahmad
1   2    Momna
2   3  Aliyaar